#title{
  position: relative;
  padding-top: 2cm;
  font-size:80px;
  opacity:0.5;
  color:#fff;
  text-shadow: 1px 1px #FFf;
}

#field{
  border-radius: 10px;
  border: none;
  padding: 12px 20px;
  opacity: 0.5;
}

ion-row{
  margin-left:auto;
  margin-right:auto;
  display:block;
}

input[type=text] {
    background-color: #000;
    color: #fff;
}

.label{
  font-size: 35px;
  color: #fff;
  opacity: 0.5;
  text-shadow: 1px 1px #000;
}
